

.modal-container {
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--base-dark-2);
    padding: 20px;
    border-radius: 5px;
    width: 800px;
    text-align: center;
}

.modal-content .container-filter {
    margin-top: 100px;
}

.open-modal-btn {
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
}

.close-modal-btn {
    background: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}